<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">

    <contextName>LakikiToDo</contextName>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="lakiki" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/lakikiToDo/lakiki.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/lakikiToDo/lakiki_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="hr.lakiki.core" level="debug"/>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>

</configuration>